body{
    margin: 0;
    font-family: "arial", sans-serif;
    background: url("images/1200px-Tourist_Terrorista.jpg") no-repeat ;
    background-size: 100%;
}

main {
    margin: 0 2rem 0 2rem;

}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: red;
    justify-items: center;
    align-items: center;
    width: 100vw; /* Ensures header spans the full viewport width */
    margin: 0; /* Removes any default margin */
    padding: 0; /* Removes any padding that might affect the width */
    box-sizing: border-box; /* Ensures padding is included within the width */
}
.textContainer{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;

}

@media (max-width: 700px) {
    .textContainer {
        display: grid;
        grid-template-columns: 1fr;
    }

    body {
        background: url("images/1200px-Tourist_Terrorista.jpg") repeat ;
    }
}
.text{
    color: black;

    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
}
footer{
    color: mediumvioletred;
    background: black;
    width: 7rem ;
    height: 5rem;

}




button {
    border-radius: 20px;
    border: none;
    background-color: black;
    color:white;
    padding: 5px;
    cursor: pointer;
}

li {
    list-style: none;
}

ul {
    display:flex;
    flex-direction: row;
    gap: 2rem;
}